## Observations and Insights

In [116]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
df=pd.merge(study_results, mouse_metadata, on="Mouse ID", how="left")

# Display the data table for preview
df

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [117]:
# Checking the number of mice.
mice_count=df["Mouse ID"].unique()
m=pd.Series(mice_count)
m_count=m.count()
m_count

249

In [118]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
#come back to this

In [119]:
# Optional: Get all the data for the duplicate mouse ID. 
df_dups=df[df.duplicated(["Mouse ID", "Timepoint"])]
df_dups

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
137,g989,0,45.000000,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26

In [120]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
df_mice=df.sort_values("Mouse ID").drop_duplicates(subset =["Mouse ID","Timepoint"])
df_mice.dtypes
df_mice

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
113,a203,0,45.000000,0,Infubinol,Female,20,23
389,a203,5,48.508468,0,Infubinol,Female,20,23
1295,a203,25,56.793208,1,Infubinol,Female,20,23
1675,a203,40,63.593490,2,Infubinol,Female,20,23
1577,a203,35,61.931650,2,Infubinol,Female,20,23
...,...,...,...,...,...,...,...,...
1143,z969,25,63.145652,2,Naftisol,Male,9,30
1076,z969,20,57.898778,2,Naftisol,Male,9,30
301,z969,5,49.332999,0,Naftisol,Male,9,30
1529,z969,35,69.176246,4,Naftisol,Male,9,30
909,z969,15,54.713005,2,Naftisol,Male,9,30

In [129]:
# Checking the number of mice in the clean DataFrame.
mice_count_clean=df_mice["Mouse ID"].unique()
m2=pd.Series(mice_count_clean)
m_count_clean=m2.count()
m_count_clean

249

## Summary Statistics

In [122]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
df_regimen=df_mice[["Drug Regimen","Tumor Volume (mm3)"]]
df_mean=round(df_regimen.groupby(["Drug Regimen"]).mean(),2)
df_mean_r=df_mean.rename(columns={"Tumor Volume (mm3)": "Mean"})
df_mean_r
df_median=round(df_regimen.groupby(["Drug Regimen"]).median(),2)
df_median_r=df_median.rename(columns={"Tumor Volume (mm3)": "Median"})
df_median_r
df_var=round(df_regimen.groupby(["Drug Regimen"]).var(),2)
df_var_r=df_var.rename(columns={"Tumor Volume (mm3)": "Variance"})
df_var_r
df_std=round(df_regimen.groupby(["Drug Regimen"]).std(),2)
df_std_r=df_std.rename(columns={"Tumor Volume (mm3)": "Standard Dev"})
df_std_r
df_sem=round(df_regimen.groupby(["Drug Regimen"]).sem(),2)
df_sem_r=df_sem.rename(columns={"Tumor Volume (mm3)": "SEM"})
df_sem_r

df_merge=pd.concat([df_mean_r,df_median_r,df_var_r,df_std_r,df_sem_r],axis=1)
df_merge
# This method is the most straighforward, creating multiple series and putting them all together at the end.

               Mean  Median  Variance  Standard Dev   SEM
Drug Regimen
Capomulin     40.68   41.56     24.95          4.99  0.33
Ceftamin      52.59   51.78     39.29          6.27  0.47
Infubinol     52.88   51.82     43.13          6.57  0.49
Ketapril      55.24   53.70     68.55          8.28  0.60
Naftisol      54.33   52.51     66.17          8.13  0.60
Placebo       54.03   52.29     61.17          7.82  0.58
Propriva      52.39   50.91     43.14          6.57  0.53
Ramicane      40.22   40.67     23.49          4.85  0.32
Stelasyn      54.23   52.43     59.45          7.71  0.57
Zoniferol     53.24   51.82     48.53          6.97  0.52

In [127]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
df_summary=df_mice[["Drug Regimen","Tumor Volume (mm3)"]]
df_agg=round(df_summary.groupby(["Drug Regimen"]).agg([np.mean, np.median, np.var, np.std, st.sem]),2)
df_agg


# This method produces everything in a single groupby function

C:\Users\djack\anaconda3\lib\site-packages\numpy\core\_methods.py:217: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
C:\Users\djack\anaconda3\lib\site-packages\numpy\core\_methods.py:186: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
C:\Users\djack\anaconda3\lib\site-packages\numpy\core\_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

             Tumor Volume (mm3)
                           mean median    var   std   sem
Drug Regimen
Capomulin                 40.68  41.56  24.95  4.99  0.33
Ceftamin                  52.59  51.78  39.29  6.27  0.47
Infubinol                 52.88  51.82  43.13  6.57  0.49
Ketapril                  55.24  53.70  68.55  8.28  0.60
Naftisol                  54.33  52.51  66.17  8.13  0.60
Placebo                   54.03  52.29  61.17  7.82  0.58
Propriva                  52.39  50.91  43.14  6.57  0.53
Ramicane                  40.22  40.67  23.49  4.85  0.32
Stelasyn                  54.23  52.43  59.45  7.71  0.57
Zoniferol                 53.24  51.82  48.53  6.97  0.52

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen